automation/n8n_retry_approval_workflow.json
{
  "name": "DirectDebit IQ - Score, Approve, Execute Retry",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "directdebit-score",
        "responseMode": "lastNode"
      },
      "id": "webhook-score",
      "name": "Receive Scheduled Payment",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-760, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DDIQ_API_URL + '/predictions'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.DDIQ_OPERATOR_JWT}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify($json.body)}}"
      },
      "id": "create-prediction",
      "name": "Create Prediction and Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-520, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{$json.approval_action_id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "high-risk-check",
      "name": "Requires Human Approval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-280, 0]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "approve-directdebit-retry"
        }
      },
      "id": "wait-approval",
      "name": "Wait for Reviewer Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-40, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DDIQ_API_URL + '/actions/' + $node['Create Prediction and Approval'].json.approval_action_id + '/decision'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.DDIQ_REVIEWER_JWT}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "{\"decision\":\"approved\",\"reason\":\"Approved through n8n human-review webhook.\"}"
      },
      "id": "approve-action",
      "name": "Record Reviewer Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [200, -100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.DDIQ_API_URL + '/actions/' + $node['Create Prediction and Approval'].json.approval_action_id + '/execute'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.DDIQ_OPERATOR_JWT}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{JSON.stringify({idempotency_key: 'prediction:' + $node['Create Prediction and Approval'].json.prediction_id})}}"
      },
      "id": "execute-action",
      "name": "Execute Approved Retry",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -100]
    }
  ],
  "connections": {
    "Receive Scheduled Payment": {
      "main": [[{"node": "Create Prediction and Approval", "type": "main", "index": 0}]]
    },
    "Create Prediction and Approval": {
      "main": [[{"node": "Requires Human Approval?", "type": "main", "index": 0}]]
    },
    "Requires Human Approval?": {
      "main": [[{"node": "Wait for Reviewer Approval", "type": "main", "index": 0}], []]
    },
    "Wait for Reviewer Approval": {
      "main": [[{"node": "Record Reviewer Decision", "type": "main", "index": 0}]]
    },
    "Record Reviewer Decision": {
      "main": [[{"node": "Execute Approved Retry", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "directdebit-iq-auditable-retry-v1"
}
